/* class selector, 우선순위2 */
.profile {
width: 150px; 
display: block; 
margin-left: auto; 
margin-right: auto;
}

.name {
    text-align:center; 
    font-size: 25px;
}

.spancolor {
    color: red;
}

.box {
    width: fit-content;
    background-color: cadetblue;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid black;
    border-radius: 5px;
    font-size: 15px;
    box-shadow: 5px 5px  gray;
}

.container {
    width: 800px;
}

.header {
    width: 100%;
    height: 50px;
    background-color: aquamarine;
}

.left_menu {
    width: 20%;
    height: 400px;
    background-color: cornflowerblue;
    float: left;
}

.right {
    width: 80%;
    height: 400px;
    background-color: coral;
    float: left;
}

.footer {
    width: 100%;
    height: 100px;
    background-color: gray;
    clear: both;
}


/* tag selector, 우선순위 3 */
p { 
    text-align: center;
}

span {
    color: green;
}



/* id selector (잘 사용하지 않음), 우선순위 1 */
#special {
    text-align: center;
    color: blue;
}

.main-background {
    width: 100%;
    height: 500px;
    background-image: url("../image/shoes.jpg");
    background-size: cover; /*contain:배경 짤리면 안됨, cover: 배경이 짤리더라도 div박스 안에 꽉 채워라 */
    background-repeat: no-repeat;
    background-position: center; /* 가운데부터 background를 채워라 */
    /*background-attachment: fixed; !* 스크롤시 배경 위치 조정가능 *!*/
    /*filter: brightness(80%); !* 안에 글씨 있으면 글씨에도 필터 입혀짐 *!*/
    padding: 1px;
    text-align: center;
    position: relative; /* 자신의 원래 위치를 기준으로 이동, position을 부여하면 공중에 뜸 */
}


.main-title {
    color: white;
    font-size: 40px;
    padding: 50px;
}

.main-content {
    color: white;
}

.main-button {
    padding: 15px;
    font-size: 20px;
    background-color: transparent;
    border: none;
    color: white;
    position: absolute; /* position: relative를 가지고있는 부모가 기준이 됨 */
    left: 0px;
    right: 0px;
    margin: auto;
    width: 150px;
}

.explain-box {
    width: 700px;
    text-align: center;
    padding: 20px;
    background-color: #eee;
    margin: auto;
    position: relative;
    bottom: 60px;
}