/* class selector, 우선순위2 */
.profile {
width: 150px; 
display: block; 
margin-left: auto; 
margin-right: auto;
}

.name {
    text-align:center; 
    font-size: 25px;
}

.spancolor {
    color: red;
}

.box {
    width: fit-content;
    background-color: cadetblue;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid black;
    border-radius: 5px;
    font-size: 15px;
    box-shadow: 5px 5px  gray;
}

/* tag selector, 우선순위 3 */
p { 
    text-align: center;
}

span {
    color: green;
}



/* id selector (잘 사용하지 않음), 우선순위 1 */
#special {
    text-align: center;
    color: blue;
}