
.container {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
}

.blog-content {
    width: 75%;
    height: 200px;
    float:left;
}

.profile-image {
    width: 50px;
    float: left;
    margin-right: 3px;
    border-radius: 90px;
}

.content-header {
    width: 100%;
    height: 30%;
    float:left;

}

.content-body {
    width: 100%;
    height: 70%;
}

.blog-img {
    width: 25%;
    height: 200px;
    float:left;
}

/* > 사용할경우는 ~ 안에 있는 직계자식, 스페이스바는 ~안에 있는 모든자식 */
.navbar>li{
    display: inline-block;
    font-size: 20px;
    text-align: center;
    background-color: #eee;
    padding: 10px;
    border-radius: 10px;
}

.navbar a{
    text-decoration: none;
}